{% extends 'base.html' %}
{% load static %}
{% block title %}Catalog{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Left Sidebar -->
        <div class="col-2">
            <div class="sticky-sidebar">
                <ul class="list-unstyled m-0">
    {% for category in categories %}
    <li class="category-item">
        <a href="{% url 'catalog:catalog-items' %}?category_id={{ category.id }}">
            <span class="category-name">{{ category.name }}</span>
            <span class="category-arrow">&gt;</span>
        </a>
    </li>
    {% endfor %}
</ul>

            </div>
        </div>

        <!-- Product Grid -->
        <div class="col-10">
            <div class="product-container">
                {% for item in items %}
                <div class="product-card">
                    <div class="product-image-container">
                        {% if item.photos.first %}
                            <img src="{{ item.photos.first.photo.url }}" alt="{{ item.name }}" class="product-image">
                        {% endif %}
                    </div>
                    <div class="product-details">
                        <h6 class="title">{{ item.name }}</h6>
                        <div class="rating">★★★★★ 0</div>
                        <p class="price">{{ item.sale_price }} ₸</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}